extends layout

block content
    div(class='center-block text-center')
        h1 #{title}
        form(class='form-horizontal', role='form',id='start')
            div(class='form-group')
                label(for='players', class='control-label') Player Names, Comma Separated
                input(type='text', class='form-control', id='players')
            button(type='submit', class='btn btn-primary') Start Game
        div(id='end')
            button(class='btn btn-success',id='endTurn') End Turn
            h2(id='activePlayer')
        h4(id='roll')
        div(id='gameTable')
        include _trade.jade
        div(id='steal')
        
block scripts
    script(src="{{url_for('static', filename='play.js')}}")